html,body{
    overflow: hidden;
    background-image: url("../images/index_bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: monospace;
    margin: .5%;
}

.login_container{
    width: 55%;
    border: 1px solid black;
    background-color: rgba(0,0,0, 0.3);
    border-radius: 8px;
    margin: 0;
    padding: 0;
    box-shadow: 0 3px 5px 0 rgba(240, 240, 240, 0.3);
    animation: transition-Y-over 0.5s;
    color: white;

}
td{
    text-align: center;

}
.header-text{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

.sub-text{
    font-size: 15px;
    color: #ffff;
    font-weight: 500px;
}

.form-label{
    color: #ffff;
    text-align: left;
    font-size: 14px;
}
.label-td{
    text-align: left;
    padding-top: 10px;
}

.hover-link1{
    font-weight: bold;
}


.hover-link1:hover{
    opacity: 10;
    transition: 0.5s;


}.login-btn{
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
}
.link-item{
    color: white;
}
