body{
	padding: 0;
	margin: 0;
	height: 180vh;
	overflow: hidden;
	background-color: rgb(233, 229, 229);
}
.about{
	margin-top:100px;
	padding-top: 10px;
	padding-bottom: 10px;
	  padding-left: 3%;
	  padding-right: 5%;
	background-color:#41729F;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-size:xx-small;
}
.headertitle{
	color:black;
	text-align: center;
	padding-left:120px;
	padding-right:120px;
	padding-top: 40px;
	padding-bottom: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 26px;
}
.aboutdef{
	color:black;
	text-align: center;
	padding-left:120px;
	padding-right:120px;
	padding-top: 20px;
	padding-bottom: 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
}
.aboutdesc{
	color:black;
	text-align: center;
	padding-top: 20px;
	padding-left:80px;
	padding-right:80px;
	padding-bottom: 80px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.def1{
    color:rgb(49, 49, 49);
	text-align:justify;
	text-indent: 70px;
	line-height: 1.6;
	padding-left:160px;
	padding-right:160px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform:none;
}
.def2{
    color:rgb(49, 49, 49);
	text-align:justify;
	text-indent: 70px;
	line-height: 1.6;
	padding-left:160px;
	padding-right:160px;
	padding-top: 2px;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform:none;
}
.gobackbtn{
	display: inline-block;
  border-radius: 6px;
  background-color: #0D4C92;
  border: none;
  color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 460px;
}
.gobackbtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .gobackbtn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .gobackbtn:hover span {
	padding-right: 25px;
  }
  
  .gobackbtn:hover span:after {
	opacity: 1;
	right: 0;
  }


  .bookbtn{
	display: inline-block;
  border-radius: 6px;
  background-color: #0D4C92;
  border: none;
  color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 240px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 15px;

}
.bookbtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .bookbtn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .bookbtn:hover span {
	padding-right: 25px;
  }
  
  .bookbtn:hover span:after {
	opacity: 1;
	right: 0;
  }