body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,#6b9fe4,#fcfcfc);
    /* background-color: rgb(251, 249, 249); */
    padding-left: 265px;
    padding-right: 265px;
    height: 100vh;
    overflow:hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    position: relative;
    padding: 15px 0px 40px 0px;
    margin:165px;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  } 

  input,
  .btn {
    width: 180%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; 
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }

  .fb {
    background-color: #3B5998;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
  }
  

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
    margin-left:65px;
  }
  .row{
    color:black;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
  }
  
 
  .vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
  }
  
  /* hide some text on medium and large screens */
  .hide-md-lg {
    display: none;
  }
  

  .bottom-container {
    text-align: center;
    background-color: rgb(89, 88, 88);
    border-radius: 0px 0px 4px 4px;
  }
  
  
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }

    .vl {
      display: none;
    }

    .hide-md-lg {
      display: block;
      text-align: center;
    }
}