*{
  padding:0;
  margin:0;
 

}
body{
  box-sizing: border-box;
  font-family: sans-serif;
}


.doc-menu-bar{
  background:#191970;
  text-align:right;
  padding-right: 30px;
}
.doc-menu-bar ul{
  display:inline-flex;
  list-style:none;
  color:black;
}
.doc-menu-bar ul li{
  width:118px;
  margin:15px;
  padding:15px;
  text-align: center;
}
.doc-menu-bar ul li a{
  text-decoration:none;
  color: white;
}
.doc-menu-bar ul li:hover{
background:#0F52BA;
border-radius:3px;
}
.doc-menu-bar .fas{
  margin-right:8px;
}
.accsubmenu{
  display:none;
}
.doc-menu-bar ul li:hover .accsubmenu{
  display:block;
  position:absolute;
  background:rgb(3, 3, 80);
  margin-top:15px;
  margin-left: -25px;
  
}
.doc-menu-bar ul li:hover .accsubmenu ul{
  display:block;
  margin:5px;
  
  
}
.doc-menu-bar ul li:hover .accsubmenu ul li{
  width:100px;
  position:10px;
  border-bottom:1px dotted #fff;
  background:transparent;
  border-radius:0px;
  text-align:left;
  
}
.doc-menu-bar ul li:hover .accsubmenu ul li a:hover{
  color:grey;
}

.fa-sort-down{
  float:right;
  }

.fa-sign-out-alt{
  float:right;
}
.docacc{
  margin-top:30px;
  padding-top: 15px;
  padding-bottom: 15px;
	padding-left: 5%;
	padding-right: 5%;
  background-color:#008080;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  }

  