@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;

}
body {
  overflow: scroll;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: rgb(246, 246, 247);
}
.sidebar {
  position: fixed;
  left: 0px;
  width: 255px;
  height: 100%;
  background: rgb(247, 250, 254);
}
.sidebar header {
  font-size: 23px;
  color: black;
  line-height: 73px;
  text-align: center;
  background: rgb(247, 250, 254);
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: rgb(58, 58, 58);
  padding-left: 40px;
  box-sizing: border-box;
  transition: .4s;
}
.title{
  margin-top: -83px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500px;
}
.docprofileimg{
  margin-top: 25px;
}
.docname{
  font-size: 22px;
  font-weight: 300px;
  text-transform: uppercase;
  color:black;
  margin-top: 15px;
}
.specialty{
  font-size: 18px;
  font-weight: 150px;
  text-transform:none;
  margin-top: 7px;
  margin-bottom: 15px;
  color:black;
}
/* ul li:hover a{
  background-color: #63bdbd;
} */
.sidebar ul a i{
  margin-right: 16px;
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}

.docappoint{
  margin-top: -630px;
  padding-top: 10px;
  padding-bottom: 10px;
	padding-left: 20%;
  background-color:#008080;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  
  }
  .docadapp{
    margin-top: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
      padding-left: 20%;
    background-color: #98FB98;
    color:#006400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .active{
    border-right: 7px solid #63bdbd;
  }

.datetimetitle{
  margin-top: 15px;
    margin-left: 1180px;
    font-size: 13px;
    font-weight: 300;
  }
.displaydate{
    color:rgb(71, 71, 71);
    margin-top: 2px;
    margin-left: 1155px;
    font-size:16px;
    font-family: Tahoma, Geneva, sans-serif;
  }
.displaytime{
  color:rgb(71, 71, 71);
  margin-top: 1px;
  margin-left: 1155px;
  font-size:16px;
  font-family: Tahoma, Geneva, sans-serif;
}



.container {
  max-width: 1000px;
  background: rgb(246, 246, 247);
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 290px;
}


table {
  text-align: left;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
}

thead th {
  font-weight: 600;
}

th {
  padding: 10px;
  font-weight: 400;
}

tbody .list {
  background: #fff;
  box-shadow: 0 5px 20px #0001;
}

tbody .user {
  display: flex;
  align-items: center;
}

tbody .icon {
  width: 34px;
  height: 34px;
  margin: 5px;
  background: #eee;
  border-radius: 50%;
  margin-right: 15px;
}

tbody .name {
  font-weight: 600;
}

tbody .user-name {
  font-size: 12px;
  color: #666;
}

tbody .active,
tbody .inactive {
  padding-left: 15px;
  position: relative;
}

tbody .active::before,
tbody .inactive::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0;
  top: 25%;
  background: #079400;
}

tbody .inactive::before {
  background: #f00;
}

.button {
  padding: 4px 10px;
  background: #0084ff;
  color: #fff;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  background: #0060ba;
}

.action-button {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  cursor: pointer;
}

.action-button span {
  display: block;
  width: 3px;
  height: 3px;
  background: #222;
  border-radius: 50%;
  margin: 1px;
}

.action-button:hover span {
  background: #0084ff;
}


  
