*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: monospace;
}
body {
  font-family: monospace;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width:5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.sidebar {
  position: fixed;
  left: 0px;
  width: 255px;
  height: 100%;
  background: rgb(247, 250, 254);
}
.sidebar header {
  font-size: 23px;
  color: black;
  line-height: 73px;
  text-align: center;
  background: rgb(247, 250, 254);
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: rgb(58, 58, 58);
  padding-left: 40px;
  box-sizing: border-box;
  transition: .4s;
}
.calendar{
  margin-top: 10px;
  margin-left:1200px;
}
.title{
  font-family: monospace;
  margin-top: -100px;
  padding-top: 20px;
  padding-bottom: 60px;
  text-transform: uppercase;
  font-weight: 500px;
}
.docprofileimg{
  margin-top: 20px;
}
.docname{
  font-size: 22px;
  font-weight: 300px;
  font-family: monospace;
  text-transform: uppercase;
  color:black;
  margin-top: 15px;
}
.specialty{
  font-size: 18px;
  font-weight: 150px;
  font-family: monospace;
  text-transform:none;
  margin-top: 7px;
  margin-bottom: 15px;
  color:black;
}
ul li:hover a{
  background-color: #97ffff;
}
.sidebar ul a i{
  margin-right: 16px;
  
}
section{
  background: url(bg.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
  
.active{
  border-right: 7px solid #63bdbd;
}

.datetimetitle{
  margin-top: 15px;
    margin-left: 1180px;
    font-size: 13px;
    font-weight: 300;
    color:black;
  }
.displaydate{
    color:rgb(71, 71, 71);
    margin-top: 2px;
    margin-left: 1155px;
    font-size:16px;
    font-family: monospace;
  }
.displaytime{
  color:rgb(71, 71, 71);
  margin-top: 1px;
  margin-left: 1155px;
  font-size:16px;
  font-family: monospace;
}

:root {
  --bs-success-rgb: 71, 222, 152 !important;
}
.btn-info.text-light:hover,
        .btn-info.text-light:focus {
            background: #000;
        }
        table, tbody, td, tfoot, th, thead, tr {
            border-color: #ededed !important;
            border-style: solid;
            border-width: 1px !important;
        }


.row{
  margin-left: 150px;
  margin-top: -35px;
}



.filter-container{
  width: 92.5%;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  margin-bottom: 20px;
  border-spacing: 0;
  padding: 0;
}

.filter-container-items{
  margin-top: 7.5px;
  margin-left: 20px;


}
.table-headin{
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-bottom: 3px solid var(--primarycolor);
}

.abc{
  width: 100%;
  height: 550px;
  overflow: auto;
}

.doctor-header{
  background-image:url(/images/tool_4.png);
  color: rgba(0, 0, 0, 0.87);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20px;
  padding-left: 35px;
}

