body{
	padding: 0;
	margin: 0;
	height: 100vh;
	overflow: hidden;
	background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)),url("../images/docpat.jpg");
	
}

.first_tab{
	margin-top: 10%;
	
}

.f_start_line{

	text-align: center;
	padding-left:630px;
	padding-right:100px;;
	padding-bottom: 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 50px;
  
}
.f_second_line{
	padding-left: 30px;
	text-align: center;
	
}

.nxtbtn{
	display: inline-block;
  border-radius: 6px;
  background-color: #0D4C92;
  border: none;
  color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 750px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 45px;
  margin-left: 460px;
}
.nxtbtn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .nxtbtn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .nxtbtn:hover span {
	padding-right: 25px;
  }
  
  .nxtbtn:hover span:after {
	opacity: 1;
	right: 0;
  }



  .center {
	text-align: center;
	margin-top:100px;
	padding-left: 45px;
	font-size: medium;
  }
  
  /* .pagination {
	display: inline-block;
  }
  
  .pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 4px;
  }
  
  .pagination a.active {
	background-color: #277BC0;
	color: white;
	border: 6px solid #277BC0;
  }
  
  .pagination a:hover:not(.active) {
	background-color: white;
} */

.pagination .pagination--link {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    list-style-type: none;
    background: #fff;
    margin: 2rem 0;
    padding: 0.05rem 0.10rem;
    border-radius: 2rem;
	margin-top: 275px;
  margin-left: 10px;


}

.pagination .pagination--link li {

    display: inline-block;
    margin: 0 .1rem;
    line-height: 2.8;

}

.pagination .pagination--link li a:link,
.pagination .pagination--link li a:visited {

    font-size: 1.2rem;
    font-weight: 00;
    padding: 0.50rem;
    background: #f4f4f4;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #555;
    cursor: pointer;
    transition: all .4s;

}

.pagination .pagination--link li a:hover {

    background: #0D4C92;
    color: #fff;
    padding: 0.50rem;

}

.pagination .pagination--link li .active:link,
.pagination .pagination--link li .active:visited {

    background: #0D4C92;
    color: #fff;

}

@media only screen and (max-width: 1080px) {

    .pagination .pagination--link li:nth-child(6) {

        display: none;

    }
   
  
}

@media only screen and (max-width: 767px) {

    .pagination .pagination--link li:nth-child(5),
    .pagination .pagination--link li:nth-child(4) {

        display: none;

    }
   

}