body{
    font-family: monospace;
    overflow: hidden;
}
.title{
    margin-top:10px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
      padding-left: 21%;
      padding-right: 5%;
    background-color:#0a3a87;
    color:white;
    font-family: monospace;
    font-size:small;
}
.maintitle{
    font-size:26px;
    margin-top: 3px;
    margin-bottom: -10px;
}
.subtitle{
    margin-top: -45px;
    margin-left: 10px;
    font-size: 16px;
}
.add_new{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 800px;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
	padding:6px 24px;
}

.sub-table{
    padding: 5%;
    margin-left: 15%;
    padding-bottom: 5%;
    font-size: 16px;
}

.event-btn{
    display: flex;
    justify-content: center;
    
}

.button{
    margin-left:900px;
    margin-bottom:30px;
}
