body{
    font-family: monospace;
    overflow: scroll;
}

::-webkit-scrollbar {
    width:5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.title{
    margin-top:10px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
      padding-left: 21%;
      padding-right: 5%;
    background-color:#0a3a87;
    color:white;
    font-family: monospace;
    font-size:small;
}
.maintitle{
    font-size:26px;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: -10px;
}
.subtitle{
    margin-top: 17px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
}

